<div class="container" ng-controller="CadastroUsuarioController" ng-init="cadastroUsuarioInit()">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Cadastre-se</div>
                <div class="header-right"><a ng-click="goTo('/login')">Efetuar Login</a></div>
            </div>
            <div class="panel-body" >
                <form name="signupform" class="form-horizontal">

                    <div id="signupalert" class="alert alert-danger" ng-show="errors">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <strong>Ops! Algo deu errado.</strong>
                        <ul>
                            <li ng-repeat=" error in errors" ng-bind-html-unsafe="error" >
                                <p>{{ error }}</p>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 col-sm-3 col-lg-3 control-label">Nome</label>
                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                            <input ng-model="usuario.first_name" ng-required="true" type="text" class="form-control" name="first_name" placeholder="Nome" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 col-sm-3 col-lg-3 control-label">Sobrenome</label>
                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                            <input ng-model="usuario.last_name" ng-required="true" type="text" class="form-control" name="last_name" placeholder="Sobrenome" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 col-sm-3 col-lg-3 control-label">Email</label>
                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                            <input ng-model="usuario.email" ng-required="true" type="email" class="form-control" name="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-3 col-sm-3 col-lg-3 control-label">Senha</label>
                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
                            <input ng-model="usuario.password" ng-required="true" type="password" class="form-control" name="password" placeholder="Senha" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-9">
                            <button ng-click="signupform.$valid && cadastrar()" type="submit"
                                    class="btn btn-success"><i class="icon-hand-right"></i> Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
