<div class="container page-content" ng-controller="ListaOcorrenciasController" ng-init="listaOcorrenciasInit()">

    <div class="ocorrencia-info">

        <div class="center">
            <h1 class=""> <i class="fa fa-map-marker "></i> Ocorrências <small> - clique em uma ocorrência para obter detalhes</small></h1>
        </div>
            <div>
                <h3 title="Filtrar" class="pointer" ng-click="toggleId('filtros')"><i class="fa fa-filter"/> Filtrar</h3>
                <div id="filtros">
                </div>
            </div>

        <hr>

        <table class="table table-hover">
            <thead>
            <tr >
                <th title="Tipo">Tipo</th>
                <th title="Título">Título</th>
                <th title="Data Criação">Data Criação</th>
                <th title="Local">Local</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in data" ng-click="detalhesOcorrencia($index)">
                <td title="{{ d.tipo }}">{{ d.tipo }}</td>
                <td title="{{ d.titulo }}">{{ d.titulo }}</td>
                <td title="{{ d.dataehoraToShow }}">{{ d.dataehoraToShow }}</td>
                <td title="{{ d.cidade }}/{{ d.estado }}, {{ d.pais }}">{{ d.cidade }}/{{ d.estado }}, {{ d.pais }}</td>
            </tr>
            <td ng-show="d.length == 0"><h4>Ooops! Não foi encontrada nenhuma ocorrência :(</h4></td>
            </tbody>
        </table>
        <hr>

    </div>
    <details-modal></details-modal>

</div>