<div class="container page-content" ng-controller="ListaOcorrenciasController" ng-init="listaOcorrenciasInit()">

    <div class="ocorrencia-info">

        <div class="center">
            <h1> <i class="fa fa-map-marker"></i> Ocorrências <small> - clique em uma ocorrência para obter detalhes</small></h1>
        </div>
        <hr>

        <table class="table table-hover">
            <thead>
            <tr >
                <th>Tipo</th>
                <th>Título</th>
                <th>Data Criação</th>
                <th>Local</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in data" ng-click="detalhesOcorrencia($index)">
                <td>{{ d.ocorrencia.tipo }}</td>
                <td>{{ d.ocorrencia.titulo }}</td>
                <td>{{ d.ocorrencia.dataehoraToShow }}</td>
                <td>{{ d.ocorrencia.cidade }}/{{ d.ocorrencia.estado }}, {{ d.ocorrencia.pais }}</td>
            </tr>
            <td ng-show="d.length == 0"><h4>Ooops! Não foi encontrada nenhuma ocorrência :(</h4></td>
            </tbody>
        </table>
        <hr>

    </div>
    <details-modal></details-modal>

</div>