<header-element></header-element>
<login-element> </login-element>
<cadastro-element> </cadastro-element>
<div class="container page-content" ng-controller="NovaOcorrenciaController" ng-init="novaOcorrenciaInit()">
    <div class="col-md-12 col-xs-12 ocorrencia-info">
        <h2>Nova Ocorrência</h2>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <input id="pac-input" class="controls" type="text"
                   placeholder="Busque um endereço">
            <div ocorrencia-map="" selected-item="coordinates"></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div id="uploader" class="image"onclick="$('#filePhoto').click()">
                <h5 id="uploader-text">Selecione uma imagem para a ocorrência</h5>
                <img src=""/>
            </div>
            <input type="file"   class="form-control" id ="filePhoto" ng-required="true"/>
        </div>
        <ul class="list-inline">
            <form name="ocorrenciaform" enctype="multipart/form-data">

                <div class="form-group col-md-12">
                    <div class="col-md-8">
                        <label class="control-label"> Onde? Utilize o mapa para identificar um local próximo da Ocorrência</label>
                        <input id="endereco" type="text" class="form-control" placeholder="{{ coordinates.formatted_address }}" readonly/>
                        <!-- <p>{{ coordinates.geometry.location }} </p> -->
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">* Quando?</label>
                        <div class="input-group date" id="datetimepicker">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon-calendar glyphicon"></span>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-5">
                        <label class="control-label">*Dê um título para a ocorrência</label>
                        <input ng-model="ocorrencia.titulo" ng-required="true" maxlength="100"
                               type="text" class="form-control" placeholder="Ex: Rapaz desaparecido desde 2016"  />
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">*Tipo de ocorrência</label>
                        <select ng-model="ocorrencia.tipo" ng-required="true" class="form-control">
                            <option disabled selected value="">Selecione um tipo</option>
                            <option value="Aparecimento">Aparecimento</option>
                            <option value="Desaparecimento">Desaparecimento</option>
                        </select>
                    </div>
                    <div class="col-md-4" ng-show="ocorrencia.tipo">
                        <label class="control-label">*{{ocorrencia.tipo}} de quê?</label>
                        <select ng-model="item.categoria" ng-change="clearData()" ng-required="ocorrencia.tipo" class="form-control">
                            <option disabled selected value="">Selecione uma categoria</option>
                            <option value="1">Pessoa</option>
                            <option value="2">Animal</option>
                            <option value="3">Objeto</option>
                        </select>
                    </div>
                </div>

                <!-- PESSOA -->
                <div class="form-group col-md-12" ng-show="item.categoria === '1'">
                    <div class="col-md-5">
                        <label class="control-label">*Etnia</label>
                        <select ng-model="pessoa.etnia" ng-required="item.categoria === '1'" class="form-control">
                            <option disabled selected value="">Selecione uma etnia</option>
                            <option value="Branco">Branco</option>
                            <option value="Negro">Negro</option>
                            <option value="Pardo">Pardo</option>
                            <option value="Mulato">Mulato</option>
                            <option value="Indígena">Indígena</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Altura</label>
                        <input ng-model="pessoa.altura" ng-required="false"
                               type="number" class="form-control" placeholder="1,70 metros" step="0.01" min="0" max="3"/>
                    </div>
                    <div class="col-md-5">
                        <label class="control-label">Peculiaridades</label>
                        <input ng-model="pessoa.peculiaridades" ng-required="false" minlength="5" maxlength="150"
                               type="text" class="form-control" placeholder="Ex: Piercing, tatuagem, etc."  />
                    </div>
                </div>

                <!-- ANIMAL -->
                <div class="form-group col-md-12" id="form-animal" ng-show="item.categoria === '2'">
                    <div class="col-md-4">
                        <label class="control-label">*Espécie do Animal</label>
                        <select ng-model="animal.especie" ng-required="item.categoria === '2'" class="form-control">
                            <option disabled selected value="">Selecione uma espécie</option>
                            <option value="Pássaro">Pássaro</option>
                            <option value="Gato">Gato</option>
                            <option value="Cachorro">Cachorro</option>
                            <option value="Roedor">Roedor</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">*Raça do Animal</label>
                        <select ng-model="animal.raca" ng-required="item.categoria === '2'" class="form-control">
                            <option disabled selected value="">Selecione uma raça</option>
                            <option value="Pitbull">Pitbull</option>
                            <option value="Poodle">Poodle</option>
                            <option value="Pug">Pug</option>
                            <option value="Akita">Akita</option>
                            <option value="Outras">Outras</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">*Cor predominante</label>
                        <select ng-model="animal.cor_primaria" ng-required="item.categoria === '2'" class="form-control">
                            <option disabled selected value="">Selecione a cor do animal</option>
                            <option value="Preto">Preto</option>
                            <option value="Branco">Branco</option>
                            <option value="Cinza">Cinza</option>
                            <option value="Marrom">Marrom</option>
                            <option value="Amarelo">Amarelo</option>
                            <option value="Creme">Creme</option>
                            <option value="Prata">Prata</option>
                        </select>
                    </div>
                </div>

                <!-- PESSOA E ANIMAL-->
                <div class="form-group col-md-12" ng-show="item.categoria === '2' || item.categoria === '1'">
                    <div class="col-md-3">
                        <label class="control-label">*Nome</label>
                        <input ng-model="pa.nome" ng-required="item.categoria === '2' || item.categoria === '1'" maxlength="100"
                               type="text" class="form-control" placeholder="Nome do desaparecido" minlength="5" maxlength="30" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Idade Média</label>
                        <input ng-model="pa.idade" ng-required="false"
                               type="number" class="form-control" placeholder="10 anos" min="0" max="150"/>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">*Sexo</label>
                        <select ng-model="pa.sexo" ng-required="item.categoria === '2' || item.categoria === '1'" class="form-control">
                            <option disabled selected value="">Sexo</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Indeterminado">Indeterminado</option>
                        </select>
                    </div>
                </div>

                <!-- OBJETO -->
                <div class="form-group col-md-12" ng-show="item.categoria === '3'">
                    <div class="col-md-4">
                        <label class="control-label">*Tipo</label>
                        <select ng-model="objeto.tipo" ng-required="item.categoria === '3'" class="form-control">
                            <option disabled selected value="">Selecione o tipo do objeto</option>
                            <option value="Carteira">Carteira</option>
                            <option value="Mochila ou Bolsa">Mochila ou Bolsa</option>
                            <option value="Celular">Celular</option>
                            <option value="Documento">Documento</option>
                            <option value="Cartão">Cartão</option>
                            <option value="Relógio">Relógio</option>
                            <option value="Bicicleta">Bicicleta</option>
                            <option value="Notebook">Notebook</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Cor predominante</label>
                        <select ng-model="objeto.cor_primaria" class="form-control">
                            <option disabled selected value="">Selecione a cor do objeto</option>
                            <option value="Preto">Preto</option>
                            <option value="Branco">Branco</option>
                            <option value="Cinza">Cinza</option>
                            <option value="Marrom">Marrom</option>
                            <option value="Amarelo">Amarelo</option>
                            <option value="Creme">Creme</option>
                            <option value="Prata">Prata</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="col-md-8">
                        <label class="control-label">Detalhes da ocorrência</label>
                        <input ng-model="ocorrencia.detalhes" ng-required="false" minlength="5" maxlength="100"
                               type="text" class="form-control" placeholder="Ex: Rapaz desaparecido desde 2016"  />
                    </div>
                    <div class="col-md-4" ng-show="ocorrencia.tipo === 'Desaparecimento'">
                        <label class="control-label">Recompensa</label>
                        <input ng-model="ocorrencia.recompensa" ng-required="false"
                               type="number" class="form-control" placeholder="1000,00 reais" step="0.01" min="0"/>
                    </div>
                </div>
                <li class="">
                    <button ng-click="ocorrenciaform.$valid && save()" class="btn btn-primary right">Save</button>
                </li>
            </form>
        </ul>
    </div>


</div>
<footer-element></footer-element>