<div class="container page-content">
    <div class="container ocorrencia-info">
        <div class="col-md-12 col-sm-12 col-xs-12" id="sobre-panel" >
            <h2>Quem somos</h2>
            <p>DISAPP é uma organização não governamental cujo objetivo é prestar apoio  e informação
            à comunidade. Buscamos melhorar a busca por pessoas, animais e objetos desaparecidos,
            além de conscientizar nossos usuários sobre as estatísticas destes casos.</p></br>
            <p><strong>ATENÇÃO:</strong> Não deixe de abrir um Boletim de Ocorrência em uma Delegacia de sua
            preferência. DISAPP é uma alternativa que fornece apoio nas buscas, mas não substitui meios legais.</p>
            <p>Caso encontre uma ocorrência imprópria, não deixe de denunciá-la para nosso email de contato.
            Faremos o possível para manter a legitimidade das informações aqui presentes,
            mas não nos responsabilizamos por dados falsos.</p>
            <h4>Caso possua alguma dúvida, crítica, denúncia ou queira saber mais sobre nós, envie uma mensagem para:</h4>
            <h4><strong>disapp.contato@gmail.com</strong></h4>
        </div>
    </div>
</div>