@font-face {
    font-family: 'HelvNeueMd';
    src: url('../fonts/HelveticaNeue-Md.ttf');
}

/* GENERAL */
.pointer {
    cursor: pointer;
}
.inline-block {
  display: inline-block;
}

.center {
    text-align: center;
}

.right {
    float: right;
}
.no-padding {
  padding: 0px !important;
}

.width-center {
    width: 50%;
}

body { font-family: HelvNeueMd !important; }
p {  margin: 0px !important;  }
textarea {
    resize:vertical;
    min-height: 100px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
/* END GENERAL */

/* HTML */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* END HTML */

/* HEADER */

header {
    min-height: 5vh;
}

#header_logo {
    width: 165px;
    margin-top: 5px;
}
/* END HEADER*/

/* NAV */

#disapp {
    font-family: HelvNeueMd !important;
}
.nav-dropdown {
    margin-top: 1vh;
}

.header-dropdown {
	position: absolute;
    margin-top: -1vh;
    right: 0;
    text-align: center;
    z-index: 999;
    max-width: 200px;
    background-color: #f8f8f8;
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.5);
}

.header-dropdown ul {
	width: 100%;
}
.header-dropdown a {
	width: 100%;
}


.header-dropdown ul li {
	width: 100%;
	border-bottom: 1px solid #545454;
	margin: 0;
	color: #fff;
}

.header-dropdown ul li:hover {
	cursor: pointer;
}

.navbar {
    margin-top:4px;
    margin-bottom: 0px !important;
    border-bottom: 2px solid #000000 !important;
}

.navbar h3 {
    margin-top: 5px;
    font-family: 'Caviar Dreams';
    color: rgb(30, 139, 172);
    font-size: 35px;
    text-shadow: 2.5px 1px rgb(0, 0, 0);
}

.navbar-nav {
    margin-left: 5% !important;
}

.navbar a {  color: #000000 !important;  }

#login-modal, #cadastro-modal {
    display: none;
    position: absolute;
    z-index: 10000;
    background: rgba(120, 120, 120, 0.69);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#login-dp{
    left: 50%;
    transform: translate(-50%, -10%);
    position: absolute;
    margin-top: 15%;
    max-width: 500px;
	border-radius: 2%;
    overflow: hidden;
    min-width: 250px;
    padding: 14px 14px 0;
    background-color:rgba(255,255,255,1);
    text-decoration: none;

}

#login-dp .help-block{  font-size:12px;  }

#login-dp .bottom{
    background-color:rgba(255,255,255,1);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{  margin:12px 0  }

#login-dp .social-buttons a{  width: 49%;  }

#login-dp .form-group {  margin-bottom: 10px;  }

.btn-fb{
    color: #fff !important;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff !important;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}


#signupalert {
    color: #b71010;
}
/* END NAV */

/* BODY */
body {
    position: relative;
    margin: 0;
    min-height: 80%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: rgba(234, 234, 234, 0.32) !important;
}
/* END BODY */


.home{
}
/* HOME */
#home-map{
    height: 81vh;
    width: 100%;
}
/* END HOME */

/*!* NOVA OCORRENCIA *!*/
#ocorrencia-map, #edit-map, #ocorrencia-form {
    height: 40vh;
    width: 100%;
}

#pin-content {
    font-size: 1rem;
}

.btn-save {
        padding: 15px 25px !important;
    font-size: 16px !important;
}

.salvar {     margin-top: 5%;}

.ocorrencia-t1 {
    font-size: 1.3em;
}

.controls {
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.controls:focus {
    border-color: #4d90fe;
}

.tab-pane {
    padding-top: 10px;
    width: 100%;
}
.form-control {
    height: 30px !important;
    padding: 1px 10px !important;
    font-size: 13px !important;
}

.form-group {
    margin-top: 10px !important;
}
#uploader {
    margin: 0;
    position:relative;
    overflow: hidden;
    width:100%;
    height: 40vh;
    border: 2px dashed #000000;
    cursor:pointer;
    color: #000000;
    font-weight:bold;
    background-size: 100%;
    background-image: url("../images/upload_file.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#uploader:hover{  border: 2px dashed #7d7d7d; }

#uploader-text {
    margin-left: 1vh;
}
#filePhoto, #contatoCriador, #dropdown{
    display:none;
}

.image img{
    position:absolute;
    width: 100%;
    min-height: 70%;
    max-height: 100%;
    border:none;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
/* END NOVA OCORRENCIA */

/* OCORRENCIA */
.page-content {
    height: 100%;
    width: 100%;
    padding: 50px 0px 50px;
    max-width: 1170px;
    margin: 0 auto;
}
.ocorrencia-image {
    width: 100%;
    margin: 3px;
    border-radius: 10%;
}
.ocorrencia-info {
    padding: 3% !important;
    margin: 0 auto;
    background-color: #fefefe;
    border: 2px solid #E2E2E2;
}
/* END OCORRENCIA*/

/* LISTA OCORRENCIAS */
.modal-body {
    margin-top: 15px;
}
/* END LISTA OCORRENCIAS */

/* FOOTER */
footer {
    font-family: HelvNeueMd !important;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
    background-color: #fff;
    color: white;
    text-align: center;
    border-top: 2px solid rgba(51, 51, 51, 0.23) !important;
}

#myFooter .footer-copyright {
    background-color: #333333;
    text-align: center;
}

#myFooter .footer-copyright p {  color: #ccc; margin: 0; }

#myFooter ul {  list-style-type: none;  }

#myFooter a {
    color: #000000;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {  color: #0077e2;  }

#myFooter .social-networks a {
    font-size: 25px;
    color: #000000;
    padding: 5px;
    transition: 0.2s;
}

#myFooter .facebook:hover,
#myFooter .twitter:hover{  color: #0077e2;  }

#myFooter .btn, .navbar-custom .btn  {
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    color: white;
    opacity: 0.9;
    margin-bottom: 1rem;
}
/* END FOOTER */

/* TOASTS */

.toasts {
	position: fixed;
    top: 85px;
    right: 15px;
    z-index: 99999999999999999;
}

.toast {
	min-width: 100px;
	max-width: 550px;
	margin-top: 10px;
	padding: 10px 25px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.toast p {
	margin: 0;
	font-size: 1.2rem;
	color: #fff;
	vertical-align: middle;
}

.toast p i {
	padding-right: 10px;
	font-size: 2.5rem;
	color: #fff;
	vertical-align: sub;
}

.ok-priority-toast {
	background-color: #5fa71e;
}

.low-priority-toast {
	background-color: #323232;
}

.medium-priority-toast {
	background-color: #b5a10f;
}

.high-priority-toast {
	background-color: #b71010;
}

/* END TOASTS */
/*BUTTON*/
.btn-circle
{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg
{
    width: 40px;
    height: 40px;
    padding: 10px 5px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl
{
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-danger {
    color: #fff !important;
    background-color: #aa4949 !important;
    border-color: #852525 !important;
}

.btn-primary, .btn-success {
    margin-bottom: 20px !important;
}
/*END BUTTON*/

/*BUTTON BOUNCE */
@keyframes bounce {
	0%,10%,20%,50%,80%,100%{transform:translateY(0)}
	40%{transform:translateY(-15px)}
	60%{transform:translateY(-15px)}
}
.faa-bounce.animated,
.faa-bounce.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-bounce {
	animation: bounce 2s ease infinite;
}
.faa-bounce.animated.faa-fast,
.faa-bounce.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-bounce.faa-fast {
	animation: bounce 1s ease infinite;
}
.faa-bounce.animated.faa-slow,
.faa-bounce.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-bounce.faa-slow {
	animation: bounce 3s ease infinite;
}
/*END BUTTON BOUNCE */

/* LOGIN */
.mainbox {  margin-top:50px;  }

.header-right {
    float:right; font-size: 80%; position: relative; top:-10px
}

#login-panel { padding-top:30px;  }

.panel-info {
    margin: 10% 0 30% 0 !important;
}
.login-input { margin-bottom: 25px; }
.control {
    margin-bottom: 5%;
}
/* END LOGIN */

/* CADASTRO USUARIO */
/* END CADASTRO USUARIO*/
/* SOBRE */
#sobre-panel, #contact {
    padding: 3%;
    width: 50%;
    margin: 0% 25%;
    box-shadow: 1px 3px 10px 1px #5b5b5b;
}
#sobre-panel h2, h4 {  text-align: center;  }
#sobre-panel p {
    text-align: justify;
    text-indent: 50px;
}
/*END SOBRE */

/* CONTATO */
#contact{
	background:rgba(0, 0, 0, 0.76);
	color:#f4f4f4;
}

textarea.form-control{
    height:100px;
}
/* END CONTATO */
/* CONTATO CRIADOR */
#contatoCriador {
    margin-top: 5%;
    padding: 5% 15% 5% 15% !important;
}
.submit-wrapper {
    margin-top:20px;
}
.submit-wrapper a {
    border: 2px solid #1e8bac;
    color: #000;
    padding: 10px 25px;
    position: relative;
    transition: all 0.1s;
    z-index: 1;
    margin-left: 8%;
}
.submit-wrapper a:before,
.submit-wrapper a:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:24px;
    height:4px;
    background: #1e8bac;
    margin-left:-12px;
    margin-top:-2px;
    transition:all 0.6s;
}
.submit-wrapper a:after {
    left:auto;
    right:0;
    margin-right:-12px;
}
.submit-wrapper a:hover:before,
.submit-wrapper a:hover:after {
    width:100%;
    transition:all 0.6s;
    background:#fff;
    transform:scaleY(5);
    z-index:-1;
}
.submit-wrapper a:hover {
    text-decoration:none;
    background:rgba(30, 139, 172, 0.1);
    transition:all 0.6s;
    color: #000000;
}
/* END CONTATO CRIADOR */
/* ESTATISTICAS */
/* END ESTATISTICAS */