/* GENERAL */
.pointer {
    cursor: pointer;
}

.right {
    float: right;
}

p {
    margin: 0px !important;
}
/* END GENERAL */

/* HTML */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* END HTML */

/* HEADER */

header {
    height: 7vh;
}
#header_logo {
    width: 165px;
    margin-top: 5px;
}
/* END HEADER*/

/* NAV */
.navbar {
    margin-bottom: 0px !important;
}

.navbar-nav {
    margin-left: 5% !important;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#signupalert {
    color: #b71010;
}
/* END NAV */

/* BODY */
body {
    position: relative;
    margin: 0;
    padding-bottom: 11rem;
    min-height: 90%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: rgba(234, 234, 234, 0.32) !important;
}
/* END BODY */


.home{
    height: 77vh;
}
/* HOME */
#home-map{
    height: 85vh;
    width: 100%;
}
/* END HOME */

/*!* NOVO ocorrencia *!*/
#ocorrencia-map, #ocorrencia-form {
    height: 40vh;
    width: 100%;
}

.ocorrencia-t1 {
    font-size: 1.3em;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.controls:focus {
    border-color: #4d90fe;
}

.tab-pane {
    padding-top: 10px;
    width: 100%;
}
.form-control {
    height: 30px !important;
    padding: 1px 10px !important;
    font-size: 13px !important;
}

.form-group {
    margin-top: 10px !important;
}
#uploader {
    margin: 0;
    position:relative;
    overflow:hidden;
    width:100%;
    height: 40vh;
    border: 3px dashed #000;
    cursor:pointer;
    color:#555;
    font-weight:bold;
    background-image: url("../images/upload.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;
}

#uploader:hover{  border: 3px dashed #7d7d7d; }

#uploader-text {
    margin-left: 1vh;
}
#filePhoto{
    display:none;
}

#uploader img{
    position:absolute;
    width:105%;
    height:362px;
    top:-1px;
    left:-1px;
    z-index:-1;
    border:none;

}
/* END NOVA OCORRENCIA */

/* FOOTER */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
    background-color: #3c3d41;
    color: white;
    text-align: center;
}

#myFooter .footer-copyright {
    background-color: #333333;
    text-align: center;
}

#myFooter .footer-copyright p {  color: #ccc; margin: 0; }

#myFooter ul {  list-style-type: none;  }

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {  color: white;  }

#myFooter .social-networks {
    padding-left: 25px;
}
#myFooter .social-networks a {
    font-size: 25px;
    color: #f9f9f9;
padding: 5px;
    transition: 0.2s;
}

#myFooter .facebook:hover,
#myFooter .twitter:hover{  color: #0077e2;  }

#myFooter .btn, .navbar-custom .btn  {
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    color: white;
    opacity: 0.9;
    margin-bottom: 1rem;
}
/* END FOOTER */

/* TOASTS */

.toasts {
	position: fixed;
  top: 85px;
  right: 15px
}

.toast {
	min-width: 100px;
	max-width: 550px;
	margin-top: 10px;
	padding: 10px 25px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.toast p {
	margin: 0;
	font-size: 1.2rem;
	color: #fff;
	vertical-align: middle;
}

.toast p i {
	padding-right: 10px;
	font-size: 2.5rem;
	color: #fff;
	vertical-align: sub;
}

.ok-priority-toast {
	background-color: #5fa71e;
}

.low-priority-toast {
	background-color: #323232;
}

.medium-priority-toast {
	background-color: #b5a10f;
}

.high-priority-toast {
	background-color: #b71010;
}

/* END TOASTS */