/* GENERAL */
.pointer {
    cursor: pointer;
}

.right {
    float: right;
}

/* END GENERAL */

/* HTML */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* END HTML */

/* HEADER */

header {
    height: 7vh;
}
#header_logo {
    width: 165px;
    margin-top: 5px;
}
/* END HEADER*/

/* NAV */
.navbar {
    margin-bottom: 0px !important;
}

.navbar-nav {
    margin-left: 5% !important;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/* END NAV */

/* BODY */
body {
    position: relative;
    margin: 0;
    padding-bottom: 11rem;
    min-height: 90%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
/* END BODY */


.home{
    height: 75vh;
}
/* HOME */
#home-map{
    height: 85vh;
    width: 100%;
}
/* END HOME */

/*!* NOVO INFORME *!*/
#informe-map, #informe-form {
    height: 40vh;
    width: 100%;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.controls:focus {
    border-color: #4d90fe;
}

.tab-pane {
    margin: 0 auto;
    margin-bottom: 2rem !important;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 900px;
    width: 94%;
}
/* END NOVO INFORME */

/* FOOTER */
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
    background-color: #3c3d41;
    color: white;
    text-align: center;
}

#myFooter .footer-copyright {
    background-color: #333333;
    text-align: center;
}

#myFooter .footer-copyright p {  color: #ccc; margin: 0; }

#myFooter ul {  list-style-type: none;  }

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {  color: white;  }

#myFooter .social-networks {
    padding-left: 25px;
}
#myFooter .social-networks a {
    font-size: 25px;
    color: #f9f9f9;
padding: 5px;
    transition: 0.2s;
}

#myFooter .facebook:hover,
#myFooter .twitter:hover{  color: #0077e2;  }

#myFooter .btn, .navbar-custom .btn  {
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    color: white;
    opacity: 0.9;
    margin-bottom: 1rem;
}
/* END FOOTER */

