<header-element></header-element>
<div class="container page-content" ng-controller="OcorrenciaController" ng-init="ocorrenciaInit()">
    <div class="tab-pane">
        <div class="col-md-12 col-sm-12 col-xs-12 ocorrencia-info">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <h1>{{data.ocorrencia.titulo}}</h1>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Tipo</td>
                            <td>{{data.ocorrencia.tipo}}</td>
                        </tr>
                        <tr>
                            <td>Data</td>
                            <td>{{data.date}}</td>
                        </tr>
                        <tr>
                            <td>Endereço</td>
                            <td>{{data.ocorrencia.endereco}}</td>
                        </tr>
                        <!-- objeto -->
                        <tr ng-show="data.detalhes.tipo">
                            <td>Objeto</td>
                            <td>{{data.detalhes.tipo}}</td>
                        </tr>
                        <!-- pessoa -->
                        <tr ng-show="data.detalhes.nome">
                            <td>Nome</td>
                            <td>{{data.detalhes.nome}}</td>
                        </tr>
                        <tr ng-show="data.detalhes.sexo">
                            <td>Sexo</td>
                            <td>{{data.detalhes.sexo}}</td>
                        </tr>
                        <tr ng-show="data.detalhes.etnia">
                            <td>Etnia</td>
                            <td>{{data.detalhes.etnia}}</td>
                        </tr>
                        <tr ng-show="data.detalhes.altura">
                            <td>Altura</td>
                            <td>{{data.detalhes.altura}}</td>
                        </tr>
                        <tr ng-show="data.detalhes.idade">
                            <td>Idade</td>
                            <td>{{data.detalhes.idade}}</td>
                        </tr>
                        <tr ng-show="data.detalhes.peculiaridades">
                            <td>Peculiaridades</td>
                            <td>{{data.detalhes.peculiaridades}}</td>
                        </tr>
                        <!-- animal -->
                        <tr ng-show="data.detalhes.especie">
                            <td>Animal</td>
                            <td>{{data.detalhes.especie}}</td>
                        </tr>
                        <tr ng-show="data.detalhes.raca">
                            <td>Raça</td>
                            <td>{{data.detalhes.raca}}</td>
                        </tr>
                        <tr ng-show="data.detalhes.cor_primaria">
                            <td>Cor</td>
                            <td>{{data.detalhes.cor_primaria}}</td>
                        </tr>
                        <tr ng-show="data.ocorrencia.recompensa">
                            <td>Recompensa</td>
                            <td>R${{data.ocorrencia.recompensa}},00</td>
                        </tr>
                        <tr ng-show="data.ocorrencia.detalhes">
                            <td>Detalhes</td>
                            <td>{{data.ocorrencia.detalhes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                    <img class="inline-block ocorrencia-image" src="{{ host }}{{ data.imagem.datafile }}"/>
            </div>
        </div>

    </div>

</div>
<footer-element></footer-element>