<header ng-controller="HeaderController" ng-init="headerInit()">

    <nav class="navbar navbar-prop">

        <div class="container-fluid">


            <div class="col-md-1"></div>
            <div class="navbar-header col-md-2" ng-click="goTo('/')">
                <button type="button  btn-default" class="navbar-toggle collapsed" ng-click="toggleId('bs-example-navbar-collapse-1')">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
                <h3 class="pointer" title="Disappearance Application" src="assets/images/disapp.png">Disapp</h3>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <ul class="nav navbar-nav navbar-left">
                        <a ng-click="goTo('/nova-ocorrencia')" class="pointer">
                            <button type="button btn-primary btn-lg" class="btn btn-danger btn-circle btn-lg" title="Nova Ocorrência">
                                <i class="fa fa-fw fa-map-marker faa-bounce animated"></i>
                            </button>
                        </a>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a ng-click="goTo('/listaOcorrencias')" class="pointer">Lista de Ocorrências</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>