<header ng-controller="HeaderController" ng-init="headerInit()">

    <nav class="navbar navbar-prop">

        <div class="container-fluid">


            <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1"></div>
            <div class="col-md-3 col-sm-2 col-xs-2 col-lg-2 navbar-header" ng-click="goTo('/')">
                <h3 class="pointer" id="disapp" title="Disappearance Application" src="assets/images/disapp.png">
                    <strong> <i class="fa fa-map-marker hidden-sm hidden-xs"/> Disapp</strong></h3>
            </div>
            <div class="col-md-1 col-sm-3 col-xs-3 col-lg-3"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">
                <ul class="nav navbar-nav navbar-left">
                    <a ng-click="goTo('/nova-ocorrencia')" class="pointer">
                        <button type="button btn-primary btn-lg" class="btn btn-danger btn-circle btn-lg" title="Nova Ocorrência">
                            <i class="fa fa-fw fa-map-marker faa-bounce animated"></i>
                        </button>
                    </a>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 nav-dropdown" ng-click="toggleId('dropdown')" >
                <button type="button  btn-default" class="">
                    <i class="fa fa-bars fa-2x"></i>
                </button>
            </div>
        </div><div class="header-dropdown" id="dropdown">
            <ul class="nav">
                <li ng-show="!token"><a ng-click="toggleId('dropdown'); goTo('/login')" class="pointer">Login</a></li>
                <li><a ng-click="toggleId('dropdown'); goTo('/nova-ocorrencia')" class="pointer">Nova Ocorrência</a></li>
                <li><a ng-click="toggleId('dropdown'); goTo('/listaOcorrencias')" class="pointer">Lista de Ocorrências</a></li>
                <li><a ng-click="toggleId('dropdown'); goTo('/estatisticas')" class="pointer">Estatísticas</a></li>
                <li ng-show="token"><a ng-click="toggleId('dropdown'); goTo('/minhasocorrencias')" class="pointer">Minhas Ocorrências</a></li>
                <li ng-show="token"><a ng-click="toggleId('dropdown'); logout()" class="pointer">Logout</a></li>
            </ul>
    </div>
    </nav>


</header>