<div class="container page-content" ng-controller="EstatisticasController" ng-init="estatisticasInit()">
    <div class="container ocorrencia-info">
        <div class="center">
            <h2>Estatísticas</h2>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <p class="center">Boletim de Ocorrência</p>
            <canvas class="chart chart-doughnut"
                    chart-data="bo.data" chart-labels="bo.labels" chart-options="options">
            </canvas>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <p class="center">Tipo de Ocorrência</p>
            <canvas class="chart chart-pie"
                    chart-data="tipo.data" chart-labels="tipo.labels" chart-options="options">
            </canvas>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <p class="center">Solucionado?</p>
            <canvas class="chart chart-doughnut "
                    chart-data="solucionado.data" chart-labels="solucionado.labels" chart-options="options">
            </canvas>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <p class="center">Por Categoria</p>
            <canvas class="chart chart-pie"
                    chart-data="categoria.data" chart-labels="categoria.labels" chart-options="options">
            </canvas>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <p class="center">Aparecimentos por Categoria</p>
            <canvas class="chart chart-pie"
                    chart-data="aparecimentoCategoria.data" chart-labels="aparecimentoCategoria.labels" chart-options="options">
            </canvas>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <p class="center">Desaparecimentos por Categoria</p>
            <canvas class="chart chart-doughnut"
                    chart-data="desaparecimentoCategoria.data" chart-labels="desaparecimentoCategoria.labels" chart-options="options">
            </canvas>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <p class="center">Solucionados por Categoria</p>
            <canvas class="chart chart-pie"
                    chart-data="solucionadoCategoria.data" chart-labels="solucionadoCategoria.labels" chart-options="options">
            </canvas>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <p class="center">Em Aberto por Categoria</p>
            <canvas class="chart chart-doughnut "
                    chart-data="emAbertoCategoria.data" chart-labels="emAbertoCategoria.labels" chart-options="options">
            </canvas>
        </div>
    </div>
</div>
</div>