<footer id="myFooter" ng-controller="FooterController" ng-init="footerInit()">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-2 hidden-xs"></div>
            <div class="col-md-2 col-sm-3">
                <ul><li><a ng-click="goTo('/sobre')" class="pointer" title="Quem Somos">Quem somos</a></li></ul>
            </div>
            <div class="col-md-2">
                <div class="social-networks">
                    <a href="https://www.facebook.com/disapplication/" class="facebook" title="Facebook - DISAPP"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <button type="button" class="btn btn-info" ng-click="goTo('/contato')" title="Fale Conosco">Fale Conosco</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Feito com ♡ por Vanessa Ely </p>
    </div>
</footer>