<div class="container page-content" ng-controller="MinhasOcorrenciasController" ng-init="minhasOcorrenciasInit()">

    <div class="ocorrencia-info">
        <div class="center">
            <h1><i class="fa fa-map-marker"></i> Minhas Ocorrências</h1>
        </div>
        <hr>
        <table class="table table-hover">
            <thead ng-show="data.length != 0">
                <tr >
                    <th>Data Criação</th>
                    <th>Tipo</th>
                    <th>Título</th>
                    <th>Solucionado</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in data" >
                    <td ng-click="detalhesOcorrencia($index)" title="{{ d.ocorrencia.dataehoraToShow }}">{{ d.ocorrencia.dataehoraToShow }}</td>
                    <td ng-click="detalhesOcorrencia($index)" title="{{ d.ocorrencia.tipo }}">{{ d.ocorrencia.tipo }}</td>
                    <td ng-click="detalhesOcorrencia($index)" title="{{ d.ocorrencia.titulo }}">{{ d.ocorrencia.titulo }}</td>
                    <td>
                        <input class="width-center" type="checkbox" ng-model="d.solucionado" ng-change='atualizarSolucionado({{ d.id }})'/>
                    </td>
                    <td ng-show="d.bo">{{ d.ocorrencia.dataehoraToShow }}</td>
                    <td>
                        <i class="fa fa-pencil-square-o fa-2x width-center" aria-hidden="true"title="Editar Ocorrência" ng-click="editarOcorrencia(d)"></i>

                    </td>
                    <td><i class="fa fa-times fa-2x width-center" aria-hidden="true"
                           title="Deletar Ocorrência" ng-click="deletarOcorrencia(d.id)"></i>
                    </td>
                </tr>
                <td ng-show="data.length == 0"><h4>Ooops! Você não possui nenhuma ocorrência :(</h4></td>
            </tbody>
        </table>
        <hr>


    </div>

    <details-modal></details-modal>

</div>