<header-element></header-element>
<div class="container page-content" ng-controller="MinhasOcorrenciasController" ng-init="minhasOcorrenciasInit()">

    <div class="ocorrencia-info">
        <h1> <i class="fa fa-map-marker"></i> Minhas Ocorrências<a href="http://bootsnipp.com/alisonpedro/snippets/Q60Oj" class="btn btn-danger pull-right hide" id="back-to-bootsnipp">Back to Bootsnipp</a></h1>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr >
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Título</th>
                    <th>Data Criação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ocorrencia in data.ocorrencia" >

                    <td ng-click="detalhesOcorrencia($index)">{{ ocorrencia.id }}</td>
                    <td ng-click="detalhesOcorrencia($index)">{{ ocorrencia.tipo }}</td>
                    <td ng-click="detalhesOcorrencia($index)">{{ ocorrencia.titulo }}</td>
                    <td ng-click="detalhesOcorrencia($index)">{{ data.date[$index]}}</td>
                    <td>
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"title="Editar Ocorrência"></i>

                    </td>
                    <td><i class="fa fa-times fa-2x" aria-hidden="true"
                           title="Deletar Ocorrência" ng-click="deletarOcorrencia(ocorrencia.id)"></i>
                    </td>
                </tr>
                <td ng-show="!data.ocorrencia"><h4>Ooops! Você não possui nenhuma ocorrência :(</h4></td>
            </tbody>
        </table>
        <hr>


    </div>

    <!-- Modal -->
    <div class="modal" id="detalhesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <i class="text-muted fa fa-map-marker"></i>
                        <strong>{{ data.ocorrencia[index].tipo }}</strong> - {{ data.ocorrencia[index].titulo }} </h4>
                </div>
                <div class="modal-body">

                    <table class="pull-left col-md-8 ">
                        <tbody>
                        <tr>
                            <td class="h6"><strong>Tipo</strong></td>
                            <td class="h5">{{ data.ocorrencia[index].tipo }}</td>
                        </tr>
                        <tr>
                            <td class="h6"><strong>Título</strong></td>
                            <td class="h5">{{ data.ocorrencia[index].titulo }}</td>
                        </tr>
                        <tr>
                            <td class="h6"><strong>Endereço</strong></td>
                            <td class="h5">{{ data.ocorrencia[index].endereco }}</td>
                        </tr>
                        <tr>
                            <td class="h6"><strong>Data</strong></td>
                            <td class="h5">{{ data.date[index] }}</td>
                        </tr>
                        <tr>
                            <td class="h6"><strong>Data</strong></td>
                            <td class="h5">{{ data.date[index] }}</td>
                        </tr>

                        <tr class="btn-mais-info text-primary">
                            <td> </td>
                            <td class="btn-mais-info text-primary pointer" ng-click="getUrl()">
                                <i class="open_info fa fa-plus-square-o"></i>  informações
                            </td>

                            <td class="h5"></td>
                        </tr>

                        </tbody>
                    </table>


                    <div class="col-md-4">
                        <img src="{{ host }}{{ data.imagem[index].datafile }}" class="inline-block ocorrencia-image">
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="modal-footer">

                    <div class="text-right pull-right col-md-3">
                        <button type="button" class="btn btn-info btn-circle btn-lg" title="Contato">
                            <i class="fa fa-envelope animated"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- fim Modal-->

</div>
<footer-element></footer-element>